<h1 style="text-align:center">Listing Memes</h1>



<table class="table">
  <% @memes.each do |meme| %>
    <tr>
      <td>
        <%= image_tag meme.picture, :width => '403 px 403 px'  %>
        <div><%= meme.picture.url %></div>
        <%= link_to meme.name, meme %>
      </td>
    </tr>
  <% end %>
</table>
