<h1>Share A Meme</h1>

<table class="table">
  <% @memes.each do |meme| %>
    <tr>
      <td>
        <%= image_tag meme.picture, :width => '300 px 300 px'  %>
        <h3><%= link_to meme.name, meme %></h3>
        <h4><div><%= link_to meme.picture.url, meme %></div></h4>
        
      </td>
    </tr>
  <% end %>
</table>